<div style="background-color:#fff;padding:1rem 1rem;margin:1rem 1rem;">
  <h1>About SnippetBoard</h1>
  <p>SnippetBoard allows the creation and management of taggable, easy-to-read command line snippets. Snippets are meant to be command line tool examples that might be useful but you have not committed to memory, categorized by tags. Once you have created a board, you may begin adding tags to categorize your snippets.</p>
  <p>After being created, each SnippetBoard is assigned a slug. A slug is a unique combination of numbers and letters that identify it. This slug is used in a number of ways throughout the application in order to identify a board for display, retrieval, or cloning.</p>
  <p>During the board creation process, you will choose if your board is private or not. If you mark your board as private, it will not appear in public board lists. It will also not be eligible to be cloned. A board marked as private will NOT be private in a meaningful sense, anyone who knows or guesses the unique slug will be able to see view it, modify its snippets, etc. Upcoming versions of SnippetBoard will support more permanent board solutions.</p>
  <p>You may clone any public board, given that you know its slug. Cloning a board will create a new board that has all of the snippets and tags of the parent board. Cloned boards will have their own unique slugs and can subsequently be cloned themselves, unless they were marked as private during the cloning process.</p>
  <p>Please visit the <a href="https://github.com/kellyaj/snippets">github page</a> for the latest information about the project</p>
</div>

