@import 'bourbon';
@import 'grid-settings';
@import 'neat';

@import 'shared';
@import 'nav_header';
@import 'tag_list';
@import 'snippet_list';
@import 'snippet_form';
@import 'tag_form';
@import 'flash_area';
@import 'navigation';
@import 'board_selection';

body {
  background-color: $darkest;
}

.outer-navigation {
  @include span-columns(12);
  background-color: #000;
  color: #fff;
  min-height: 2rem;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    text-decoration: none;
  }

  a, u {
    text-decoration: none;
  }
}

.app-container {
  @include span-columns(12);
  background-color: $dark;
  border: 1px solid #ccc;
}

@media (max-width: 480px) {
}

@media (min-width: 481px) {
}

@media (min-width: 1024px) {
}
