.flash-area {
  display: inline-block;
  margin-left: 2.5rem;
}

.flash-message-card {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0.3rem 0.3rem;
  text-align: center;
}

.success-flash-message {
  color: green;
}

.flashFadeOut-enter {
  opacity: 0.01;
}

.flashFadeOut-enter.flashFadeOut-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.flashFadeOut-leave {
  opacity: 1;
}

.flashFadeOut-leave.flashFadeOut-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.close-x {
  color: #000;
  margin-left: 0.7rem;
}
