.NavHeader-container {
  @include span-columns(12);
  background-color: $dark;
  color: $light;
  padding: 1em 1.3em;
}

.NavHeader-button {
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-family: 'Space Mono', monospace;
  font-size: 1.2rem;
  padding: 0.3em;
  margin: 0 0.4em;
  user-select: none;
}

.board-title-container {
  @include span-columns(4)
  float: left;
}

.board-title-name {
  color: $card-color;
  font-family: 'Droid Sans Mono', monospace;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 2px #000;
}

.board-title-slug {
  font-weight: 400;
  font-size: 0.8rem;
}
