.NavHeader-container {
  @include span-columns(12);

  background-color: $dark;
  color: $light;
  padding: 1em 1.3em;
}

.NavHeader-button {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  display: inline-block;
  padding: 0.3em;
  margin: 0 0.4em;
  user-select: none;
}

.board-title-container {
  @include span-columns(4)
  float: left;
}

.board-title-name {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.board-title-slug {
  font-weight: 400;
  font-size: 0.8rem;
}
