.navigation-container {
  @include span-columns(12);
  min-height: 3rem;
  font-family: 'Droid Sans Mono', monospace;
}

.navigation-button {
  color: #ccc;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.3em;
  margin: 1rem 0.5rem;
  user-select: none;
}
