.board-actions-container {
  @include span-columns(12);

  background-color: $inner-content;
  border: 1px solid #fff;
  display: inline-block;
  padding: 0 2rem;
}

.action-button {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 0.3em;
  user-select: none;
}

.snippet-form-menu {
  cursor: pointer;
  float: right;
  padding: 1rem 0 0 0;
}

.SnippetForm-container {
  @include span-columns(6);

  background-color: $card-color;
  border: 1px solid #000;
  margin: 1rem 0;
  padding: 0 1rem 1rem 1rem;
  transform: translateY(-100%);
}

.snippet-form-field {
  padding: 1rem 0;
}

.SnippetTagSelection-list {
  list-style-type: none;
}

@keyframes slide-down {
  100% { transform: translateY(0%); }
}

.slide-down {
  animation: slide-down 0.25s forwards;
}

@keyframes slide-up {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}

.slide-up {
  animation: slide-up 0.8s forwards;
}

.slideMe-enter {
  opacity: 0.01;
}

.slideMe-enter.slideMe-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
  animation: slide-down 300ms forwards;
}

.slideMe-leave {
  opacity: 1;
}

.slideMe-leave.slideMe-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
  animation: slide-up 300ms forwards;
}
