.SnippetList-container {
  display: inline-block;
  max-width: 75%;
  vertical-align: top;
}

.SnippetList-card {
  background-color: gold;
  border: 1px solid #000;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
  margin: 0.4em;
  text-align: center;
}

.SnippetCardMenu-container {
  float: right;
}

.SnippetCardMenu-container > ul {
  list-style-type: none;
  cursor: pointer;
}

.SnippetCardMenu-container > ul > li {
  display: inline-block;
  padding: 0 0.2rem;
}

.SnippetList-card-name {
  margin: 1em 0;
}

code {
  background-color: white;
  padding: 0.3em;
}
