.SnippetList-container {
  @include span-columns(10);

  display: inline-block;
  vertical-align: top;
}

.SnippetList-card {
  background-color: gold;
  border: 1px solid #000;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
  margin: 0.4em;
}

.SnippetCardMenu-container {
  float: right;
}

.SnippetCardMenu-container > ul {
  list-style-type: none;
  cursor: pointer;
}

.SnippetCardMenu-container > ul > li {
  display: inline-block;
  padding: 0 0.2rem;
}

.SnippetList-card-name {
  margin: 1em 0;
}

.snippet-card-content {
  text-align: center;
}

code {
  background-color: white;
  padding: 0.3em;
}

.small-snippet-card {
  @include span-columns(3);
}

.medium-snippet-card {
  @include span-columns(6);
}

.large-snippet-card {
  @include span-columns(9);
}

.hidden {
  opacity: 0;
  width: 0px;
  height: 0px;

}
