.TagList-container {
  @include span-columns(2);

  display: inline-block;
  vertical-align: top;
}

.TagList-list {
  list-style-type: none;
  margin: 0 auto;
  user-select: none;
}

.TagList-list-item {
  background-color: $light;
  border: 1px solid #fff;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  display: block;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.selected-tag {
  background-color: $inner-content;
}

.SmallTagList-list {
  list-style-type: none;
}
